[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
x509_extensions = v3_req

[dn]
C = IN
O = CN Private Network Platform
CN = app.teamX.test

[v3_req]
basicConstraints = CA:false
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = app.teamX.test
DNS.2 = api.teamX.test
IP.1 = 10.3.3.178
